{% for section in file.filesection_set.all %}
    {% if section.status_data_fk.validity_flag and section.status_data_fk.status_data != "" %}
        <div class={{section.status_fk.status}}>
            <div id="section{{section.pk}}">
                <p>Prover: {{section.status_data_fk.prover }}</p>
                <p>line: {{section.line_nr}} {section.ref_category.category}}</p>
            </div>
            <div id="status{{section.pk}}" class="status">{{section.status_data_fk.status_data|linebreaks}}
                <span class="statustext">
                    line: {{section.line}}{{section.desc|linebreaks}}
                </span>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $("#section{{section.pk}}").click(function() {
                    $("#status{{section.pk}}").toggle();
                });
            });
        </script>
    {%endif%}
{% endfor %}
