{% for section in file.filesection_set.all %}
    <!-- <p>{{sec.description}}</p> -->
    {% if section.status_data_fk.status_data != None %}
        <div class={{section.status_fk.status}}>
            <p>Prover: {{ section.status_data_fk.prover }}</p>
            <div class="status">{{section.status_data_fk.status_data|linebreaks}}
                <span class="statustext">
                    line: {{section.line}}{{section.desc|linebreaks}}
                </span>
            </div>
        </div>
    {%endif%}    
{% endfor %}